 
body {
    background-color: lightgray;
}

p {
    margin: 0 0 10px 0;
}
input {
    font-size: 20px;
}

h2 {
    text-align: center;
}
.chart1{
    height: 400px;
    width: 400px;
    background-color: whitesmoke;
    float: left;
}
.chart2{
    height: 400px;
    width: 400px;
    background-color: whitesmoke;
    float: right;
}

#drawChart{
    margin-left: 10px;
}